:root {
  --blu: rgb(63, 145, 204);
  --green: #3cb568;
}

body {
  background-color: #fefefe;
  margin: 0;
  padding: 24px 32px;
  font-family: "Chronicle SSm A", "Chronicle SSm B", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Whitney A", "Whitney B", sans-serif;
}

code {
  font-family: monospace;
  display: block;
  background-color: #f0f0f0;
}

.title {
  display: block;
  color: var(--green);
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 4px double;
}

.title > a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Whitney A", "Whitney B", sans-serif;
}

.container {
  position: relative;
}

.container > p {
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
}

.divider {
  font-weight: 500;
  color: var(--green);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

li, li a, li span, h6 {
  color: var(--blu);
  font-weight: 400;
  text-decoration: none;
}

li {
  margin-bottom: 4px;
}

li a:hover {
  border-bottom: 1px solid var(--blu);
}

p > a {
  text-decoration: none;
  font-weight: 400;
  color: #3f91cc;
}

.gray-bg {
  border-radius: 2px;
  background-color: #f9f9f9;
  padding: 10px;
}

input[type='text'], textarea {
  background-color: #fefefe;
  border: 1px solid #979797;
  border-radius: 2px;
  color: #838383;
  font-family: "Chronicle SSm A", "Chronicle SSm B", sans-serif;
  width: 100%;
  padding: 10px;
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, .04), 2px 2px 0 rgba(0, 0, 0, .04);
}

textarea {
  resize: vertical;
}

input[type=range] {
  margin: 15px 0 15px 0;
  width: 100%;
}

table {
  border-collapse: collapse;
}

thead > tr {
  border-bottom: 1px solid #D8D8D8;
}

tr, th {
  padding: 5px;
  text-align: left;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
