.project {
  position: relative;
  display: grid;
  border-bottom: 1px solid #D8D8D8;
  grid-template-columns: auto 1fr;
  grid-column-gap: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.projects {
  display: grid;
}

.project h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
}

.project a {
  text-decoration: none;
  color: inherit;
}

.project a:hover {
  text-decoration: underline;
}

.project .description {
  font-family: "Chronicle SSm A", "Chronicle SSm B", serif;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  color: rgb(100, 100, 100);
}

.project .description a:after {
    position: relative;
    content: "°";
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: var(--blu);
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}


ul.tech {
  padding: 0;
  margin: 0;
}

.tech li {
  display: inline-block;
  padding: 4px;
  font-size: 12px;
  background-color: #F5F5F5;
  color: #7f7f76;
  margin-right: 3px;
}

.project .image-container {
  height: 100%;
}

.project .image {
  padding: 2px;
  border: 1px solid #7f7f76;
  transition: filter 200ms;
  line-height: 0;
}

.project .image:hover {
  filter: invert(100%);
}

h3 {
  margin: 15px 0;
  text-align: center;
  padding: 15px;
  font-size: 12px !important;
  background-color: gray;
  text-transform: uppercase;
}

.b-sides li {
  margin-bottom: 10px;
}
