{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/style/range.css">
<script src="js/camilify.js"></script>
{% endblock %}

{% block body %}
<h1 class="title"><a href="/">camilify</a></h1>
<span style="font-size: 25px" class="divider">—————</span>

<div class="container">
    <textarea name="text" type="text"></textarea>
    <input name="deviate" type="range" min=0 max=0.8 value=0.2 step=0.01>
    <input name="repeat" type="range" min=0 max=0.3 value=0.05 step=0.01>

    <div id="camilify-result" class="gray-bg">
        Resultado
    </div>

    <div class="credits"><span>fc</span></div>
</div>


{% endblock %}
